body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.vertical_boxes{
    display: grid;
    height: 100vh;
    max-height: 100%;
    background-image: url(imgs/home_Image.jpg);
    background-color: rgba(0, 0, 0, 0.2) !important;
    background-position:center;
    background-size:cover;
    align-items: stretch;
    background-blend-mode: overlay;
    background-attachment: fixed;
}

.bg-dark{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), #1a1a1a 50%); */
    /* opacity: 0.7; */
    z-index: 0;
    --bs-bg-opacity: 0;
}


.navbar-dark{
    color: rgb(207, 207, 207) !important;
}

.navbar{
    padding: 10px 50px !important;
    position: sticky !important;
}

a.navbar-brand{
    font-size: 40px !important;
}

.navbar-dark 
.navbar-nav
.nav-link{
    color: rgb(248, 248, 248);
}

.nav-link:hover, .nav-link:focus{
    /* text-decoration: underline; */
    color: #0a58ca !important;
    z-index: 1;

    transition-property: transform;
    transform: translatex(2px);
    transition-duration: 0.1s;
    transition-timing-function:ease-out;
}

.navbar-nav{
    float: right !important;
}

.logo{
    height: 4vw;
    width: 4vw;
    margin-right: 8px;
    padding: 3px;
    border-radius: 25%;
    border: 2px solid rgb(6, 63, 250);
}

/* Content */
.introduction{
    height: 85vh;
    display: flex;
}

.content{
    display: grid;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
   align-items: center;
    text-align: center !important;
}

.content h1{
    font-weight: bold;
    font-size: 58px;
}

.image-wrapper{
    display: flex;
    justify-content: center;
}

.info-img{
   width: 450px;
   height: 550px;
   padding: 50px;
}

.content-wrapper{
    padding:50px 0 50px 50px;
}
.description h2{
    color: #009E66;
    font-size: 24px;
}
.description h6{
    color: #f0f0f0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: bold;
}

.row{
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: space-evenly;
}
.info-sec{
    display: flex;
    justify-content: center;
    background-color: black;
    /* opacity: 0.9; */
}

.btn a{
    color: snow !important;
    text-decoration: none !important;
}

.btn{
    border-radius: 20px !important;
}

.home a{
    padding: 20px;
}

.home .fa-home:hover{
    color:#0a58ca !important;
}

.home .fa-home {
    padding: 50px 30px 50px 70px;
    color: snow !important;
}
.service-grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

h2{
    font-weight: bold;
    padding:25px 15px;
    text-align:left;
}
.service-grid .fab, .far, .fas{
    padding: 10px;
    color:#009E66 ;
    text-align: center;
}
.grid-item{
    background-color: #383838;
    border-bottom: 2px solid transparent;
    box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
    padding: 20px;
    transition: all .15s ease-in-out;
}
.plan-item{
    background-color: #383838;
    border-bottom: 2px solid transparent;
    box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
    padding: 30px 20px;
    transition: all .15s ease-in-out;
    text-align: center;
    text-decoration: none;
    line-height: 3;
}

.plan-item ul{
    list-style: none;
    padding: 0;
    color: rgb(161, 161, 161);
}

.grid-item:hover{
    border-bottom-color: #009e66;
}
.grid-item p{
    font-size: 16px;
    color: thistle;
    padding-left: 10px;
}

.grid-item h6{
    padding: 10px;
    font-weight: 400;
}

.plan-grid{
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    /* max-width: 1280px; */
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
}


/* Footer*/
.last{
    align-items: flex-end;
    display: flex;
    padding: 0;
}

.footer{
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    padding-right: 50px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer ul{
    list-style:none;
    display: flex;
    margin: 0;
}

.languages{
    display: block;
    justify-content: flex-start;
    margin-left: 30px;
}

.languages p{
     margin: 0; 
}
.languages a{
    text-decoration: none;
}

.languages a:hover, a:focus{
    color: snow;
}

.languages ul{
    display: flex;
}

.languages li{
    padding-left: 20px;
}

.Social_Media{
    display: flex;
    justify-content: flex-end;
}

.Social_Media li{
   padding:0 10px;
}
.Social_Media a, .home a{
  text-decoration: none;
  color: white;
  padding:0 10px;
}

.Social_Media a:hover {
    transition-property: transform;
    transform: translatey(10px);
    transition-duration: 0.1s;
    transition-timing-function:ease-out;
    display: block;
} 
