body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.vertical_boxes{
    display: grid;
    height: 100vh;
    max-height: 100%;
    background-image: url(imgs/home_Image.jpg);
    background-color: rgba(0, 0, 0, 0.2) !important;
    background-position: center;
    background-size:cover;
    align-items: stretch;
    background-blend-mode: overlay;
}

.bg-dark{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), #1a1a1a 50%); */
    /* opacity: 0.7; */
    z-index: 0;
    --bs-bg-opacity: 0;
}


.navbar-dark{
    color: rgb(207, 207, 207) !important;
}

.navbar{
    padding: 10px 50px !important;
}

a.navbar-brand{
    font-size: 40px !important;
}

.navbar-dark 
.navbar-nav
.nav-link{
    color: rgb(248, 248, 248);
}

.nav-link:hover, .nav-link:focus{
    /* text-decoration: underline; */
    color: #0a58ca !important;
    z-index: 1;

    transition-property: transform;
    transform: translatex(2px);
    transition-duration: 0.1s;
    transition-timing-function:ease-out;
}

.navbar-nav{
    float: right !important;
}

.logo{
    height: 4vw;
    width: 4vw;
    margin-right: 8px;
    padding: 3px;
    border-radius: 25%;
    border: 2px solid rgb(6, 63, 250);
}

.content{
    display: grid;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
   align-items: center;
    text-align: center !important;
}

.content h1{
    font-weight: bold;
    font-size: 58px;
}

.last{
    align-items: flex-end;
    display: flex;
    padding: 0;
}

.footer{
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    padding: 15px 20px;
    padding-right: 50px;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer ul{
    list-style:none;
    display: flex;
    margin: 0;
}

.languages{
    display: block;
    justify-content: flex-start;
    margin-left: 30px;
}

.languages p{
     margin: 0; 
}
.languages a{
    text-decoration: none;
}

.languages a:hover, a:focus{
    color: snow;
}

.languages ul{
    display: flex;
}

.languages li{
    padding-left: 20px;
}

.Social_Media{
    display: flex;
    justify-content: flex-end;
}

.Social_Media li{
   padding:0 10px;
}
.Social_Media a{
  text-decoration: none;
  color: white;
  padding:0 10px;
}

.Social_Media a:hover {
    transition-property: transform;
    transform: translatey(10px);
    transition-duration: 0.1s;
    transition-timing-function:ease-out;
    display: block;
} 
